

.main {
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#slide {
  position: relative;
  bottom: -100px;
  opacity: 0;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

#slide-top {
  position: relative;
  bottom: -100px;
  opacity: 0;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 1s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes slide-top {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slide-top {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.header {
  background-color: rgb(71, 71, 71);
  background-image: linear-gradient(225deg, rgb(71, 71, 71) 0%, #999999 46%, rgb(71, 71, 71) 100%);
  border-radius: 3px;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.2);
  border: 5px black;
  text-align: center;
  margin-top: 20px;
  top: 0;
  align-items: center;
  width: auto;
  position: fixed;

  display: flex;
  flex-direction: row;
}

.header-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 4px;

}

.header-button:hover {
  background-color: rgb(92, 92, 92);
}

.about-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}

.projects {
  padding: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-list {
 padding: 20px;
}

.about-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.top {
  padding: 20px;
  height: 500px;
}

.top-paper {
  background-image: url("./img/background.jpg");
  border-radius: 15px;
  height: 100%;
}

.top-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}